<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
    <style>

    </style>
</head>
<body>
        <div class="entry-page">
            <!-- side buttons -->
            <div class="entry-side">
                <span class="side-button">
                    <a href="#">
                        <i class="bi bi-pencil-square"></i>
                    </a>                
                </span>                
                <span class="side-button">
                    <a href="#">
                        <i class="bi bi-trash"></i>
                    </a>                
                </span>                
            </div>
            <!-- content -->
            <div class="content">
                <h1 class="mb-3">Monday - January 13th, 2023</h1>
                <h3>My Day</h3>
                <p>
                    Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. U
                    t enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut 
                    aliquip ex ea commodo consequat. Duis 
                    aute irure dolor in reprehenderit in 
                    voluptate velit esse cillum dolore eu 
                    fugiat nulla pariatur. Excepteur sint 
                    occaecat cupidatat non proident, sunt 
                    in culpa qui officia deserunt mollit 
                    anim id est laborum.
                </p>                
            </div>
            <!-- entry tags -->
            <div class="tags">
                <h5>Tags:
                    <span>
                        dogs
                    </span>
                    ,
                    <span>
                        festivals
                    </span>
                </h5>                
            </div>

        </div>
</body>
</html>